<div id="page-wrapper">
    <div class="header">
        <h1 class="page-header mb-5">
            Jobs
        </h1>
        <a href="/employee/addjob" class="btn btn-primary col-md-2" style="float: right; margin-right:37px;">Add Jobs <i class="fa fa-plus" aria-hidden="true"></i></a>
    </div>
    <div class="container" style="margin-top:62px;">
        <div class="row">
         {{#each jobs}}
            <div class="col-md-11">
                <div class="card mt-3 col-md-12 shadow-lg p-3 mb-5">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                    </div>
                   
                    <ul class="h4">
                        <li class="list-group-item">Company<span style="float: right;">{{this.name}}</span></li>
                        <li class="list-group-item">Location<span style="float: right;">{{this.location}}</span></li>
                        <li class="list-group-item">Designation<span style="float: right;">{{this.designation}}</span></li>
                        <li class="list-group-item">Salary<span style="float: right;">{{this.salary}}</span></li>
                        <li class="list-group-item">Type<span style="float: right;">{{this.type}}</span></li>
                        <li class="list-group-item" style="padding-bottom: 65px;">Image<span style="float: right;">
                            <img src="/employee/job_images/{{this._id}}.jpg" style="width:60px;height:60px; "></span></li>
                        <li class="list-group-item ml-auto mr-auto col-md-12">
                            <a class="btn btn-info col-md-3" href="/employee/editjob/{{this._id}}" style="display: inline;float: right;">Edit</a>
                            <a class="btn btn-danger col-md-3" href="/employee/deletejob/{{this._id}}" style="display: inline;float: right;margin-right:8px;">Delete</a>
                        </li>
                    </ul>
                    
                    <br><br><br>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>