<section class="section section-bg" id="call-to-action"
    style="background-image: url(/employee/job_images/{{job._id}}.jpg)">
    <div class="container">
         <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2><em>Apply Here</em></h2>
                        <p>Fill the form</p>
                        {{#if apply}}
                         <h2><em>You have already applied for this job</em></h2>   
                       {{/if}}
                    </div>
                </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <div class="row">

            <div class="col-md-6">
               
                <form action="/apply" method="POST" enctype="multipart/form-data" >
                    <div class="form-group">
                    
                        <input type="hidden" class="form-control" name="name" value="{{user.name}}">
                    </div>
                    <div class="form-group">
                       
                        <input type="hidden"  name="email" value="{{user.username}}">
                         <input type="hidden" name="eid" value="{{job.eid}}">
                         <input type="hidden" name="uid" value="{{user._id}}">
                         <input type="hidden" name="jid" value="{{job._id}}">
                         <input type="hidden" name="designation" value="{{job.designation}}">
                         <input type="hidden" name="companyname" value="{{job.name}}">
                         <input type="hidden" name="type" value="{{job.type}}">
                         <input type="hidden" name="approve" value="0">
                    </div>
                    <div class="form-group">
                        <label>Describe about you shortly</label>
                        <textarea  class="form-control" name="about" required>{{user.about}}</textarea>
                    </div>
                    <div class="form-group">
                        <label>Experience</label>
                        <input type="text" class="form-control" name="experience" value="{{user.experience}}" required>
                    </div>
                    <div class="form-group">
                        <label>Previous Work(optional)</label>
                        <input type="text" class="form-control" name="worked" value="{{user.worked}}" >
                    </div>
                    <div class="form-group">
                        <label>Website/Portfolio link:(optional)</label>
                        <input type="text" class="form-control" name="link" value="{{user.link}}" >
                    </div>
                    <div class="form-group">
                        <label>Location :</label>
                        <input type="text" class="form-control" name="location" value="{{user.location}}" required>
                    </div>
                    <div class="form-group">
                        <label>Skills:</label>
                        <input type="text" class="form-control" name="skills"required value="{{user.skills}}">
                    </div>
                    <div class="form-group">
                        <label>Mobile</label>
                        <input type="text" class="form-control" name="phone"required value="{{user.phone}}">
                    </div>
                    <button class="btn btn-primary">Apply</button>
                </form>
            </div>
            <div class="col-md-6">
                <article class="pl-5 pt-5">
                    <h4>{{job.designation}}</h4>
                    <br>
                    
                    <p class="btn btn-danger text-white">{{job.type}}</p>
                    <br>
                    <br>
                    <h4>Requirements</h4>
                    <br>
                    <h6>Job Type :<span style="margin-left:83px ;">{{job.type}}</span> </h6>
                    <br>
                    <h6>Experience :<span style="margin-left:69px ;">{{job.experience}}</span> </h6>
                    <br>
                    <h6>Language :<span style="margin-left:77px ;">{{job.language}}</span> </h6>
                    <br>
                    <h6>Qualification :<span style="margin-left:54px ;">{{job.qualification}}</span> </h6>
                    <br>
                    <h6>Required Skills :<span style="margin-left:43px ;">{{job.skills}}</span> </h6>
                    <br>
                    <h6>Salary :<span style="margin-left:109px ;">{{job.salary}}/-</span> </h6>
                    <br>
                  </article>
                   {{#each reject}}
                                    <p class="fa fa-dot-circle-o text-danger show">Your application for {{this.designation}} have been rejected by {{this.companyname}}</p><br>
                                    {{/each}}
                                    
            </div>
            
        </div>
    </div>

</section>
    <br>
    <br>
    <br>
    <br>
    <br>